.nav {
    width: 250px;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 0 20px 1px black;
    z-index: 9999;
    transition: box-shadow linear 0.2s;
}

.nav:hover {
    box-shadow: 1px 0 30px 1px black;
    transition: box-shadow linear 0.2s;
}

.logo {
    font-size: 30px;
    padding: 10px 10px 5px 10px;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);

    span {
        font-size: 24px;
        position: relative;
        top: -5px;
    }
}

.menu {
    ul {
        margin: 20px 0 0 0;
        padding: 0;

        li {
            list-style-type: none;
            font-size: 24px;
            padding: 5px 0 5px 10px;
            border-bottom: 2px solid rgb(160, 160, 160);
            color: rgb(25, 25, 25);

            &:hover {
                background-color: rgb(240, 240, 240);
            }

            a {
                text-decoration: none;
                color: inherit;
                width: 100%;
                display: block;
            }
        }

        li:last-child {
            border-bottom: 0;
        }
    }
}